<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">G-HOTEL</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/app.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.min.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />

  <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/js/popper.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
  <script th:src="@{/js/bootstrap-datepicker.fr.min.js}"></script>
</head>
<body>
<div th:replace="~{/admin/partials/header :: header_admin}"></div>

<div layout:fragment="content">

</div>

<div th:replace="~{/admin/partials/footer :: footer_admin}"></div>

</body>
</html>