<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container" layout:fragment="content">

    <h1 class="my-5">Modification du mot de passe</h1>
    <form action="#" th:action="@{/account/doPassword}" th:object="${user}" method="post">

        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 alert-light">

                <div class="form-group">
                    <label for="hash" class="form-label mt-4">Ancien mot de passe</label>

                    <input type="password" class="form-control" th:field="*{old}" id="hash" />

                    <p th:errorclass="error" th:if="*{#fields.hasErrors('old')}" th:errors="*{old}" ></p>
                </div>

                <div class="form-group">
                    <label for="nouveau" class="form-label mt-4">Nouveau mot de passe</label>

                    <input type="password" class="form-control" th:field="*{hash}" id="nouveau" />

                    <p th:errorclass="error" th:if="*{#fields.hasErrors('hash')}" th:errors="*{hash}" ></p>
                </div>

                <div class="form-group">
                    <label for="passwordConfirm" class="form-label mt-4">Confirmation Mot de passe</label>

                    <input type="password" class="form-control" th:field="*{passwordConfirm}" id="passwordConfirm" />

                    <p th:errorclass="error" th:if="*{#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" ></p>
                </div>

                <button type="submit" class="btn btn-primary mt-4">Enregistrer</button>

            </div>
        </div>
    </form>
</div>

</body>
</html>


