<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title layout:title-pattern="$LAYOUT_TITLE - $LAYOUT_CONTENT">G-HOTEL</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/app.css}">

  <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/js/popper.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="~{/partials/header :: header}"></div>
<div th:replace="~{/message :: message}"></div>

<div layout:fragment="content">

</div>

<div th:replace="~{/partials/footer :: footer}"></div>




</body>
</html>